body {
    background: white;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: 'Amatic SC', cursive;
}

#first-page {
    padding-top: 0;
    position: -webkit-sticky;
    position: sticky;
    /* top: -85vh; */
    top: -82%;
}

section > h2 {
    border-bottom: solid 1px black;
    font-size: 4em;
    margin: 0 auto 1em;
    padding-top: 2em;
    width: 200px;
}

p a, p a:visited:not(:hover) {
    color: black;
    text-decoration: underline;
}

p {
    font-size: 1.2em;
}

.page {
    text-align: center;
    /* padding: 0 4em 4em; */
    padding-bottom: 4em;
}

.contact-page {
    margin-bottom: 8em;
}

.events-page {
    max-width: 768px;
    margin: 0 auto;
}

.image-strip {
    background: white;
    display: block;
    height: 100vh;
    position: relative;

    /* fixes white lines between images on hover */
    width: 101%
}

.image-strip:hover {
    opacity: .9;
}

.farm-image-link {
    background: no-repeat center / cover url('images/IMG_20170704_174638_DRO_strip_large.jpg')
}

.events-image-link {
    background: no-repeat center / cover url('images/IMG_3619_strip_large.jpg')
}

.gallery-image-link {
    background: no-repeat center / cover url('images/0015_strip_large.jpg')
}

.contact-image-link {
    background: no-repeat center / cover url('images/IMG_20170810_140231_704_strip_large.jpg')
}

.strip-img {
    height: 100vh;
    object-fit: cover;
}

.link-text {
    bottom: 20px;
    color: #eee;
    font-size: 3em;
    font-weight: 300;
    position: absolute;
    text-align: center;
    width: 100%;
}


.title-overlay {
    background: black;
    color: #eee;
    font-size: 6em;
    font-weight: 300;
    letter-spacing: .15em;
    margin: auto 0;
    opacity: .6;
    padding: 0 90px;
    position: absolute;
    text-align: center;
    top: 10%;
    width: 100%;
    z-index: 2;
    text-transform: upppercase;
}


.map-iframe {
    width: 600px;
    height: 450px;
}


.fixed-title {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
}

.social-icons {
    font-size: 12px;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    /* display: flex; */
}

.social-icons.grid-y .fa-instagram {
    align-self: flex-end;
}

.social-icons.grid-y .fa-envelope-o {
    align-self: flex-start;
}


.social-icons {
    background: black;

}
.social-icons .cell {
    text-align: center;
    display: flex;
    align-items: center;
    color: white;
}

.social-icons .cell:hover {
    color: #faf;
}

.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
    justify-content: center;
}

.gallery-thumbnail img {
    margin: 0 10px 20px 10px;
}

/* MEDIUM SCREENS */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .link-text {
        bottom: 0;
        width: 100%;
        font-size: 2.5em;
    }
}

/* SMALL SCREENS */
@media screen and (max-width: 39.9375em) {

    section > h2 {
        padding-top: 1em;
        font-size: 3em;
    }

    .page {
        /* padding: 0 1em 1em; */
        padding-bottom: 1em;
    }

    #first-page {
        position: static;
        top: 0;
    }

    .image-strip {
        height: 25vh;
        width: 100vw;
    }

    .title-overlay {
        top: 0;
        font-size: 1.5em;
        opacity: .8;
        padding: 0;
    }

    .link-text {
        bottom: 0;
        width: 100%;
        font-weight: bold;
    }

    .social-icons {
        display: none;
    }

    .gallery-thumbnail img {
        width: 120px;
        height: 120px;
    }

    .map-iframe {
        width: 300px;
        height: 400px;
    }

    .contact-page {
        margin-bottom: 2em;
    }

    .events-image-link {
        background: no-repeat center / cover url('images/IMG_3619_strip_small.jpg')
    }

    .farm-image-link {
        background: no-repeat center / cover url('images/IMG_20170704_174638_DRO_strip_small.jpg')
    }


    .gallery-image-link {
        background: no-repeat center / cover url('images/0015_strip_small.jpg')
    }

    .contact-image-link {
        background: no-repeat center / cover url('images/IMG_20170810_140231_704_strip_small.jpg')
    }
}
