body {
    background: white;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: 'Amatic SC', cursive;
}

section {
    padding-top: 2em;
}

section#first-page {
    padding-top: 0;
}

section > h2 {
    font-size: 4em;
    margin: 0 auto 1em;
    border-bottom: solid 1px black;
    width: 200px;
}

a, a:visited {
    color: black;
}

.page {
    /* height: 100vh; */
    text-align: center;
    padding: 4em;
}

p {
    font-size: 1.2em;
}

.image-strips .cell a {
    display: block;
    position: relative;
    background: white;
}

.image-strips .cell a:hover {
    opacity: .9;
}

.strip-img {
    height: 100vh;
    object-fit: cover;
}

.link-text {
    bottom: 2%;
    color: #eee;
    font-size: 3em;
    font-weight: 300;
    position: absolute;
    text-align: center;
    width: 100%;
}


.title-overlay {
    background: black;
    color: #eee;
    font-size: 6em;
    font-weight: 300;
    letter-spacing: .15em;
    margin: auto 0;
    opacity: .5;
    padding: 0 90px;
    position: absolute;
    text-align: center;
    top: 10%;
    width: 100%;
    z-index: 2;
    text-transform: upppercase;
}

/* MEDIUM SCREENS */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .link-text {
        bottom: 0;
        width: 100%;
        font-size: 2.5em;
    }
}

/* SMALL SCREENS */
@media screen and (max-width: 39.9375em) {
    .strip-img {
        height: 25vh;
        width: 100vw;
    }

    .title-overlay {
        top: 0;
        font-size: 1.5em;
        opacity: .7;
    }

    .link-text {
        bottom: 0;
        width: 100%;
    }
}

.fixed-title {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
}

.fixed-strips {
    /* position: fixed; */
    top: -80vh;
    width: 100%;
}

.social-icons {
    font-size: 12px;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    /* display: flex; */
}

.social-icons.grid-y .fa-instagram {
    align-self: flex-end;
}

.social-icons.grid-y .fa-envelope-o {
    align-self: flex-start;
}


.social-icons {
    background: black;

}
.social-icons .cell {
    text-align: center;
    display: flex;
    align-items: center;
    color: white;
}

.social-icons .cell:hover {
    color: #faf;
}
